@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 2.6em;
	font-weight: 300;
	color: #000000;
	margin: 0.3em 0.7em;
	display: block;
}
.logo {
	margin: 1.2em;
	padding: 0.7em;
	background-color: #000000;
	box-shadow: 0px 0px 19px #78d9e7;
	display: block;
	float: left;
}
.nav {
	display: block;
	float: left;
}
.nav li {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1.6em;
	list-style: none;
}


@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}
 
.wiggle:hover {
	-webkit-animation: wiggle 0.5s infinite;
}






